@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;500;600;700&display=swap');
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
}
.events-holder{
    padding: 0.5em 0px 0px;
}
main{
    padding: 0.2em 2em;
}
.event-holder{
    background-color: hsl(207, 100%, 95%);
    padding: 1em;
    border-radius: 5px;
    margin: 0.5em 0px;
}
.event-holder h3{
    font-weight: 700;
    color: hsl(207, 100%, 10%);
}
.event-holder .date-holder{
    display: flex;
    width: 80%;
    flex-direction: row;
    justify-content: center;
    align-items: baseline;
    margin: 0.3em 0em;
}
.event-holder .date-holder h4{
    flex: 1;
    text-align: left;
    font-weight: 500;
}
@media screen and (min-width:500px) {
    main{
        margin: 0 20vw;
    }    
}
.edit-link{
    padding: 0.1em 0.5em;
    background-color: hsl(207, 100%, 69%);
    border-radius: 100px;
    text-decoration: none;
    font-weight: 600;
    color: hsl(207, 100%, 99%);
    margin-top: 30px;
    font-size: 0.8em;
}
.read-more{
    background-color: rgb(33, 245, 199);
    color: hsl(167, 91%, 15%);
}
#current-tag{
    background-color: indianred;
    color: hsl(207, 100%, 99%);
    font-weight: 600;
    padding: 5px 15px;
    border-radius: 50px;
    font-size: 0.9rem;
    margin-left: 1ch;
}

.disappear{
    height: 0;
    display: none;
}

#btn-add-event{
    color: hsl(207, 100%, 95%);
    background-color: indianred;
    font-weight: 700;
    border: none;
    text-align: center;
    width: 45px;
    border-radius: 500px;
    float: right;
    outline: none;
    font-size: 1.5rem;
}
form{
    background-color: hsl(207, 100%, 95%);
    padding: 1em 1.5em;
    border-radius: 10px;
}
form input{
    border-color: hsla(207, 100%, 15%,0.2);
    padding: 0.5em;
    border-radius: 10px;
    font-size: 0.9rem;
}
#submit-btn{
    margin-top: 10px;
    background-color: hsl(207, 100%, 65%);
    color: hsl(207, 100%, 95%);
    border: none;
    font-weight: 700;
}
.delete-form{
    padding: 0px;
}
.del-btn{
    margin-top: 10px;
    padding: 5px 10px;
    font-weight: 600;
    border: none;
    font-size: 0.8rem;
    border-radius: 20px;
    color: hsl(207, 100%, 99%);
    background-color: indianred;
}