@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;500;600;700&display=swap');
footer{
    color: hsl(207, 100%, 98%);
    background-color: #66B9FF;
    padding: 1em 1.5em;
    text-align: center;
    width: 100vw;
    margin-top: 15px;
    font-family: 'Poppins',sans-serif;
}
footer h2{
    font-size: 1.3rem;
    font-weight: 800;
}
footer h2 span{
    font-size: 1rem;
    font-weight: 500;
}