{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Events | ContactKeep</title>
    <link rel="stylesheet" type="text/css" href="{% static 'contactkeep/event_details.css' %}">
</head>
{% include 'contactkeep/snippets/navigation.html' %}
<body>
    <main>
        <section class="events-holder">
            {% if event.current == True %}
                <section class="event-holder current">
                    <div class="top">
                        <h3>{{event.name}}<span id="current-tag">Current</span>
                    
            {% else %}
                <section class="event-holder">
                    <div class="top">
                        <h3>{{event.name}}
            {% endif %}
                    <a href="{% url 'contactkeep:event_edit' event.id %}" class="edit-link">Edit</a>
                    </h3>
                </div>
                <div class="date-holder">
                    <h4>Start Date : {{event.start_date}}</h4>
                    <h4>End Date : {{event.end_date}}</h4>
                </div>
                <form action="" method="post" enctype="multipart/form-data" class="delete-form">
                    {% csrf_token %}
                    <input type="submit" value="Delete" class="del-btn" name="event-delete">
                </form>
            </section>
        </section>
    </main>
</body>
{% include 'contactkeep/snippets/footer.html' %}
</script>
</html>