{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Events | ContactKeep</title>
    <link rel="stylesheet" type="text/css" href="{% static 'contactkeep/event_edit.css' %}">
</head>
{% include 'contactkeep/snippets/navigation.html' %}
<body>
    <main>
        <h2>Edit Event</h2>
        <form action="" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <label for="name">Name of Event</label>
            <br>
            <input type="text" value="{{event.name}}" name="name" id="id_name">
            <br>
            <label for="start_date">Start Date</label>
            <br>
            <input type="date" name="start_date" id="id_start_date" required>
            <br>
            <label for="end_date">End Date</label>
            <br>
            <input type="date" name="end_date" id="id_end_date" required>
            <br>
            <label for="current">Set as Current Event ?</label>
            {% if event.current == False %}
                <input type="checkbox" name="current" id="id_current">
            {% else %}
                <input type="checkbox" name="current" id="id_current" checked>
            {% endif %}
            <br>
            <input type="submit" name="event-edit" value="Save" id="submit-btn">        
        </form>
    </main>
</body>
{% include 'contactkeep/snippets/footer.html' %}
</html>