{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Events | ContactKeep</title>
    <link rel="stylesheet" type="text/css" href="{% static 'contactkeep/events.css' %}">
</head>
{% include 'contactkeep/snippets/navigation.html' %}
<body>
    <main>
        <h2>Events</h2>
        <section id="add-event">
            <button id="btn-add-event" onclick="toggleForm()">+</button>
            <form action="" method="post" enctype="multipart/form-data" id="form-add-event" class="disappear">
                {% csrf_token %}
                <label for="name">Name of Event</label>
                <br>
                <input type="text" value="{{event.name}}" name="name" id="id_name">
                <br>
                <label for="start_date">Start Date</label>
                <br>
                <input type="date" name="start_date" id="id_start_date" required>
                <br>
                <label for="end_date">End Date</label>
                <br>
                <input type="date" name="end_date" id="id_end_date" required>
                <br>
                <label for="current">Set as Current Event ?</label>
                {% if event.current == False %}
                    <input type="checkbox" name="current" id="id_current">
                {% else %}
                    <input type="checkbox" name="current" id="id_current" checked>
                {% endif %}
                <br>
                <input type="submit" name="event-add" value="Add" id="submit-btn">        
            </form>
        </section>
        <section class="events-holder">
            {% for event in list_of_events %}
                {% if event.current == True %}
                    <section class="event-holder current">
                        <h3>{{event.name}}<span id="current-tag">Current</span></h3>
                {% else %}
                    <section class="event-holder">
                        <h3>{{event.name}}</h3>
                {% endif %}
                    <div class="date-holder">
                        <h4>Start Date : {{event.start_date}}</h4>
                        <h4>End Date : {{event.end_date}}</h4>
                    </div>
                    <a href="{% url 'contactkeep:event_edit' event.id %}" class="edit-link">Edit</a>
                    <a href="{% url 'contactkeep:event_details' event.id %}" class="edit-link read-more">Read More</a>
                </section>    
            {% endfor %}
        </section>
    </main>
</body>
{% include 'contactkeep/snippets/footer.html' %}
<script>
    var addForm = document.getElementById('form-add-event');
    var addBtn = document.getElementById('btn-add-event');
    function toggleForm(){
        addForm.classList.toggle("disappear");
        if(addForm.classList.contains('disappear')){
            addBtn.innerHTML = "+";
        }
        else {
            addBtn.innerHTML = "-";
        }
    }
</script>
</html>