{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Websites | ContactKeep</title>
    <link rel="stylesheet" type="text/css" href="{% static 'contactkeep/website_view.css' %}">
</head>
{% include 'contactkeep/snippets/navigation.html' %}
<body>
    <main>
        <section class="websites-holder">
            <section class="website-holder">
                <ul class="heading">
                    <li>
                        <h3>{{website.name}}
                            <a href="{% url 'contactkeep:website_edit' website.id %}" class="edit-link">Edit</a></h3>
                    </li>
                    <li>
                        <form action="" method="post" enctype="multipart/form-data" class="delete-form">
                            {% csrf_token %}
                            <input type="submit" value="Delete" class="del-btn" name="website-delete">
                        </form>
                    </li>
                </ul>
                <div class="date-holder">
                    <h4>Created on : {{website.created_on}}</h4>
                    <h4>Last Visited on : {{website.last_visit}}</h4>
                </div>
                <a href="{{website.url}}" class="url">orignal url : {{website.url}}</a>
            </section>
            <section id="info-holder">
                <h3>Contacts found</h3>
                {% if info_len != 0 %}
                    <div class="btn-holder">
                    {% if page_obj.has_previous %} {# whether the previous page exists #}
                        <a href="?page={{page_obj.previous_page_number}}" class="paginator-btn"><</a> {# link to the prev page #}
                    {% else %}
                        <a href="#" class="paginator-btn disable"><</a> {# link to the prev page #}
                    {% endif %}
                    <h4 style="font-weight: 400;">(Click to copy)</h4>
                    {%if page_obj.has_next %} {# whether the next page exists #}
                        <a href="?page={{page_obj.next_page_number}}" class="paginator-btn">></a> {# link to the next page #}
                    {% else %}
                        <a href="#" class="paginator-btn disable">></a> {# link to the prev page #}
                    {% endif %}
                    </div>
                {% endif %}
                <ul id="contacts-holder">
                    {% if info_len != 0 %}
                        {% for info in info_scrapped %}
                            <li class="info-card" onclick="copyToClipboard(this)">
                                {{info.text}}
                            </li>
                        {% endfor %}    
                    {% else %}
                        <p>No contacts found, you will have to add them manually</p>
                    {% endif %}
                </ul>
            </section>
            <section class="add-contact">
                <form action="" method="post" enctype="multipart/form-data" id="contact-form">
                    {% csrf_token %}
                    <input type="text" name="name" placeholder="name">
                    <div class="add-btn-holder">
                        <button id="add-phone" onclick="addPhoneInput()" type="button">Add Phone Input</button>
                        <button id="add-mail" onclick="addMailInput()" type="button">Add Mail</button>
                    </div>
                    <div id="phone-inputs" title="1">
                        <div class="phone-input">
                            <input type="text" name="phone_num$1" placeholder="phone number">
                            <button class="remove" onclick="removePhoneInput()" type="button">-</button>
                        </div>
                    </div>
                    <div id="mail-inputs" title="1">
                        <div class="mail-input">
                            <input type="text" name="email$1" placeholder="email">
                            <button class="remove" onclick="removeMailInput()" type="button">-</button>
                        </div>
                    </div>
                    <input type="submit" value="Add" name="add-contact">
                    <input type="hidden" name="nos_phone" id="nos_phone" value="1">
                    <input type="hidden" id="nos_mail" name="nos_mail" value="1">
                </form>
            </section>
        </section>
    </main>
</body>
<center><div id="copied-message">Copied to Clipboard!</div></center>
{% include 'contactkeep/snippets/footer.html' %}
<script>
    var phoneInputs = document.getElementById('phone-inputs')
    var mailInputs = document.getElementById('mail-inputs')
    var num_phones = document.getElementById('nos_phone')
    var num_mails = document.getElementById('nos_mail')
    
    function copyToClipboard(element){
        var text = element.innerText;
        var elem = document.createElement("textarea");
        document.body.appendChild(elem);
        elem.value = text;
        elem.select();
        document.execCommand("copy");
        document.body.removeChild(elem);
        console.log(text);
        var msgBox = document.getElementById('copied-message')
        msgBox.classList.add('animate')
        setTimeout(function(){msgBox.classList.remove('animate')},1500)
    }

    function clearMsg(){
        var msg = "copied to clickboard";
    }
    
    function addPhoneInput(){
        console.log(phoneInputs.title);
        var num = parseInt(phoneInputs.title);
        num++;
        phoneInputs.title = num.toString();
        var result="";
        for (let int = 1; int <= num; int++) {
            result+='<input type="text" name="phone_num$'+int.toString()+'" placeholder="phone number"> <button class="remove" onclick="removePhoneInput()" type="button">-</button>';
        }
        num_phones.value = num.toString();
        phoneInputs.innerHTML = result;
    }

    function removePhoneInput(){
        console.log(phoneInputs.title);
        var num = parseInt(phoneInputs.title);
        num--;
        phoneInputs.title = num.toString();
        var result="";
        for (let int = 1; int <= num; int++) {
            result+='<input type="text" name="phone_num$'+int.toString()+'" placeholder="phone number"> <button class="remove" onclick="removePhoneInput()" type="button">-</button>';
        }
        num_phones.value = num.toString();
        phoneInputs.innerHTML = result;
    }

    function addMailInput(){
        console.log(mailInputs.title);
        var num = parseInt(mailInputs.title);
        num++;
        mailInputs.title = num.toString();
        var result="";
        for (let int = 1; int <= num; int++) {
            result+='<div class="mail-input"><input type="text" name="email$'+int.toString()+'" placeholder="email"><button class="remove" onclick="removeMailInput()" type="button">-</button></div>';
        }
        num_mails.value = num.toString();
        mailInputs.innerHTML = result;
    }

    function removeMailInput(){
        console.log(mailInputs.title);
        var num = parseInt(mailInputs.title);
        num--;
        mailInputs.title = num.toString();
        var result="";
        for (let int = 1; int <= num; int++) {
            result+='<div class="mail-input"><input type="text" name="email$'+int.toString()+'" placeholder="email"><button class="remove" onclick="removeMailInput()" type="button">-</button></div>';
        }
        num_mails.value = num.toString();
        mailInputs.innerHTML = result;
    }

    
</script>
</html>